@charset "UTF-8";
body {
  /* Configuración del grid y propiedades de fuente */
  display: grid;
  font-family: "REM", sans-serif;
  background-color: #ffffff;
  color: #000000;
  margin: auto;
  grid-template-areas: "header header header header header" "main main main main main" "section section section section section" "footer footer footer footer footer";
  gap: 4px;
  grid-template-rows: 1fr 2fr 1fr;
  height: 100vh;
  background-image: url("../images/fondo-body-4.png");
  background-size: contain;
  background-repeat: repeat;
  background-attachment: fixed;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
body header {
  grid-area: header;
}
body header .nav-bar-h {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #0f4571;
  align-items: center;
  margin: auto;
  padding: 20px;
}
body header .nav-bar-h .logo-h {
  height: 20px;
  width: auto;
  margin-left: 50px;
}
body header .nav-bar-h .nav-links-h {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
body header .nav-bar-h .nav-links-h .dropdown-h {
  position: relative;
}
body header .nav-bar-h .nav-links-h .dropdown-h:hover .sub-menu-h {
  display: block;
  margin-top: -35px;
}
body header .nav-bar-h .nav-links-h .dropdown-h .dropdown-toggle-h::after {
  content: "▼"; /* Triángulo hacia abajo */
  margin-left: 10px;
}
body header .nav-bar-h .nav-links-h .dropdown-h .sub-menu-h {
  display: none;
  position: absolute;
  background-color: #0f4571;
  padding: 5px;
  list-style: none;
  border-radius: 10px;
  width: 190px;
  margin-left: -30px;
}
body header .nav-bar-h .nav-links-h .dropdown-h .sub-menu-h li {
  margin: 5px;
}
body header .nav-bar-h .nav-links-h .dropdown-h .sub-menu-h li a {
  text-decoration: none;
  color: #ffffff;
}
body header .nav-bar-h .nav-links-h li {
  display: flex;
  margin: 10px 50px;
  padding: 25px;
  color: #ffffff;
  transition: background-color 0.4s;
}
body header .nav-bar-h .nav-links-h li:hover {
  background-color: #0c2f76;
  border-radius: 5px;
}
body header .nav-bar-h .nav-links-h li a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.4s;
}
body header .nav-bar-h .nav-links-h li a:hover {
  text-decoration: underline;
  color: #05d3f8;
}
body main {
  grid-area: main;
  display: flex;
  flex-flow: column nowrap;
}
body main h1 {
  /* Centrado del título y color de texto */
  text-align: center;
  margin-top: 150px;
  margin-bottom: 150px;
  justify-content: center;
  color: #000000;
}
body main .container-main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
body main .container-main .fila1 {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-bottom: 100px;
  /*row*/
}
body main .container-main .fila1 .card-img-styles {
  width: auto;
  height: auto;
  margin: 20px;
}
body main .container-main .fila2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
body main .container-main .fila2 .fila2-imagen1 {
  width: auto;
  height: 500px;
  padding: 20px;
}
body main .container-main .fila2 .fila2-texto {
  padding: 20px;
  text-align: right;
}
body section {
  grid-area: section;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: space-between;
}
body section h3 {
  padding: 50px;
}
body section .fila2-carousel {
  width: 700px;
}
body section h4 {
  padding: 50px;
}
body footer {
  grid-area: footer;
  margin-top: 100px;
  background-color: #0f4571;
  color: white;
  padding: 20px;
}
body footer .footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
body footer .footer-content .footer-links {
  display: flex;
}
body footer .footer-content .footer-links .footer-section {
  margin-right: 40px;
}
body footer .footer-content .footer-links .footer-section h3 {
  margin-bottom: 10px;
}
body footer .footer-content .footer-links .footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
body footer .footer-content .footer-links .footer-section ul li {
  margin-bottom: 5px;
}
body footer .footer-content .footer-links .footer-section ul li a {
  color: white;
  text-decoration: none;
}
body footer .footer-content .footer-social {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
}
body footer .footer-content .footer-social a {
  color: white;
  font-size: 20px;
  margin-left: 15px;
  text-decoration: none;
}
body footer .footer-content .footer-social a:hover {
  color: #f2f2f2;
}

/*# sourceMappingURL=styles.css.map */
