@charset "UTF-8";
/* Importaciones */
/* Variables */
/* Reset de márgenes general*/
* {
  margin: 0rem;
  padding: 0rem;
}

.body {
  /* Configuración del grid y propiedades de fuente */
  display: grid;
  font-family: "REM", sans-serif;
  background-color: #ffffff;
  color: #000000;
  margin: auto;
  grid-template-areas: "header header header header" "main main main main" "section section section section" "footer footer footer footer";
  gap: 4px;
  grid-template-rows: 1fr 2fr 1fr;
  height: 100vh;
  background-image: url("../images/fondo-body-4.png");
  background-size: contain;
  background-repeat: repeat;
  background-attachment: fixed;
  /*Estilos generales para el header */
  /* Estilos generales para el main*/
  /* Estilos generales para el section */
  /* Estilos generales para el footer */
}
.body .header {
  grid-area: header;
  padding: 0rem 3rem;
  background-color: #0f4571;
}
.body .header .nav-contenedor {
  padding: 0rem;
}
.body .header .nav-contenedor .nav-div {
  background-color: #0f4571;
  padding: 1rem;
}
.body .header .navbar-h .nav-li {
  margin: 0rem 1rem;
  padding: 2rem;
}
.body .header .navbar-h .nav-li .navbar-dropdown-menu {
  margin-top: -2rem;
}
.body .main {
  grid-area: main;
  display: flex;
  flex-flow: column nowrap;
}
.body .main h1 {
  text-align: center;
  margin-top: 150px;
  margin-bottom: 150px;
  justify-content: center;
  color: #000000;
}
.body .section {
  grid-area: section;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: space-between;
}
.body .footer {
  grid-area: footer;
  background-color: #0f4571;
  color: #ffffff;
  padding: 0px;
}
.body .footer .footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 10rem;
}
.body .footer .footer-content .footer-links {
  display: flex;
}
.body .footer .footer-content .footer-links .footer-section {
  margin-right: 40px;
}
.body .footer .footer-content .footer-links .footer-section a:hover {
  text-decoration: underline;
}
.body .footer .footer-content .footer-links .footer-section h3 {
  margin-bottom: 10px;
}
.body .footer .footer-content .footer-links .footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.body .footer .footer-content .footer-links .footer-section ul li {
  margin-bottom: 5px;
}
.body .footer .footer-content .footer-links .footer-section ul li a {
  color: #ffffff;
  text-decoration: none;
}
.body .footer .footer-content .footer-social {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-end;
}
.body .footer .footer-content .footer-social a {
  color: #ffffff;
  font-size: 20px;
  margin-left: 15px;
  text-decoration: none;
}
.body .footer .footer-content .footer-social a:hover {
  color: #ffffff;
}
.body .footer .footer-copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #1c2d50;
}
.body .footer .footer-copyright p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

/*# sourceMappingURL=styles.css.map */
