.main{
    .fila-computador {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        margin: 3rem;

        img {
            max-width: 100%;
            width:500px;
            height: auto;
        }

        p {
            max-width: auto;
            width: 30rem;
            text-align: justify;
        }
    }

    .fila-master-race {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        margin: 1rem 1rem;

        img{
            max-width: 100%;
            width: 40rem;
            height: auto;
        }

        p{
            max-width: auto;
            width: 30rem;
            text-align: justify;
        }
    }
}

/* estilos para pantallas pequeñas main */
@media (max-width: 768px){
    .main{
        .fila-computador {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-content: center;
            margin: 1rem 1rem;
    
            img {
                max-width: 100%;
                width: 300px;
                height: auto;
            }
    
            p {
                max-width: auto;
                width: auto;
                text-align: justify;
                margin: 1rem;
            }
        }
    }

    .fila-master-race {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        margin: 1rem 1rem;
        
        .descripcion-ensamble{
            p{
                max-width: auto;
                width: auto;
                text-align: justify;
                margin: 1rem;
            }
        }
        
        .imagen-master{
            img{
                max-width: 100%;
                height: auto;
            }
        }
    }
}

.section{
    .fila-hardware{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        margin: 1rem 2rem;

        .imagenes-hardware{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-evenly;

            img{
                max-width: 100%;
                height: 100%;
                width: 15rem;
                margin: 1rem;
            }
        }

        p{
            text-align: justify;
            margin-top: 10rem;
            max-width: 50rem;
        }
    }
}

/* estilos para pantallas pequeñas section*/
@media (max-width: 768px){
    .section{
        .fila-hardware{
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            flex-wrap: wrap
            margin 1rem 1rem;

            .imagenes-hardware{
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                img{
                    max-width: 100%;
                    height: 100%;
                    width: 6rem;
                    margin: 1rem;
                }
            }

            .descripcion-hardware{
                p{
                    margin: 1rem;
                    text-align: justify;
                }
            }
        }
    }

}

