.main{
    .contacto{
        display: flex;
        flex-direction: column;
        margin: 0px 50px;

        .fila-imagenes{
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            
            img{
                height: auto;
                width: 100px;
            }
        }

        .fila-descripcion{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: 100px;
            text-align: center;
        }
    }
}