<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/styles.css">
    <!--Google Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=REM&display=swap" rel="stylesheet">
    <!-- favicon -->
    <link rel="icon" href="../images/favicon.jpg" type="image/x-icon">
    
    <title>Eddy Tech</title>
</head>
<body>
    <header>
        <div class="navbar">
            <img src="../images/eddytech.jpg" alt="Logo" class="logo">
            <nav>
                <ul class="nav-links">
                    <li><a href="../index.html">INICIO</a></li>
                    <li>
                        <a href="#servicios">SERVICIOS</a>
                        <ul class="sub-menu">
                            <li><a href="../views/servicios/servicio-tecnico.html">Servicio Técnico</a></li>
                            <li><a href="../views/servicios/ensamble-de-computadores.html">Ensamble de computadores</a></li>
                            <li><a href="../views/servicios/desarrollo-web.html">Desarrollo WEB</a></li>
                        </ul>
                    </li>
                    <li><a href="../views/contacto.html">CONTACTO</a></li>
                    <li><a href="../views/nosotros.html">NOSOTROS</a></li>
                </ul>
            </nav>
        </div> 
    </header>

    <main>
        <!-- Contenido principal -->
        <h1>CONTACTO</h1>
    </main>

    <section>

    </section>

    <footer>

    </footer>


    
    
</body>
</html>