<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- SEO -->
    <meta name="keywords"  content="HTML, META, EDDY TECH, SERVICIO, TECNICO, COMPUTADORES">
    <meta name="description" content="En Eddy Tech ofrecemos un servicio de primera a computadores">
    <!-- favicon -->
    <link rel="icon" href="../images/favicon.jpg" type="image/x-icon">
    <!-- Enlaces a Bootstrap CSS y JS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <!-- CSS -->
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/contacto-styles.css">
    <!--Google Font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=REM&display=swap" rel="stylesheet">
    <!--Font Awesome-->
    <script src="https://kit.fontawesome.com/4c6299c558.js" crossorigin="anonymous"></script>
    <!--titulo-->
    <title>Eddy Tech</title>
</head>

<body class="body">
    <header class="header">
        <nav class="navbar navbar-expand-lg bg-body-tertiary navbar-nav-tag">
            <div class="container-fluid navbar-contenedor">
                <!-- Imagen del logo Eddy Tech -->
                <a class="navbar-brand" href="../index.html">
                    <img src="../images/eddytech.png" alt="Logo">
                </a>
                <!-- Botón responsivo del menú hamburguesa -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Enlaces del navbar -->
                <div class="collapse navbar-collapse links-navbar" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0"></ul>
                    <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                        <li class="nav-item nav-li">
                            <a class="nav-link active" aria-current="page" href="../index.html">INICIO</a>
                        </li>
                        <li class="nav-item dropdown nav-li">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                SERVICIOS
                            </a>
                            <ul class="dropdown-menu navbar-dropdown-menu">
                                <li><a class="dropdown-item" href="../views/servicios/servicio-tecnico.html">Servicio técnico</a></li>
                                <hr>
                                <li><a class="dropdown-item" href="../views/servicios/ensamble-de-computadores.html">Ensamble de computadores</a></li>
                            </ul>
                        </li>
                        <li class="nav-item nav-li">
                            <a class="nav-link active" aria-current="page" href="../views/nosotros.html">NOSOTROS</a>
                        </li>
                        <li class="nav-item nav-li">
                            <a class="nav-link active" aria-current="page" href="../views/contacto.html">CONTACTO</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <main class="main">
        <!-- Contenido principal -->
        <h1>CONTACTO</h1>
        <div class="contacto">
            <div class="fila-whatsapp">
                <a href="https://api.whatsapp.com/send?phone=56965798103" target="_blank"><img src="../images/whatsapp.png" alt="WhatsApp"></a>
                <p>
                    ¿Listo para una solución tecnológica excepcional? ¡Dale click al logo y contáctanos en WhatsApp!
                </p>
            </div>
            <div class="fila-gmail">
                <img src="../images/gmail.png" alt="Gmail">
                <p>
                    ¿Tienes alguna pregunta o solicitud especial? Escríbenos a nuestro correo electrónico "eddytech.st@gmail.com" y te brindaremos la atención personalizada que mereces.
                </p>
            </div>
        </div>
    </main>

<footer class="footer">
    <div class=" footer-content">
        <div class="footer-links">
            <div class="footer-section">
                <h3>Enlaces</h3>
                <ul>
                    <li><a href="../index.html">Inicio</a></li> 
                    <li><a href="../views/servicios/servicio-tecnico.html">Servicio técnico</a></li>
                    <li><a href="../views/servicios/ensamble-de-computadores.html">Ensamble de computadoras</a></li>  
                    <li><a href="../views/nosotros.html">Nosotros</a></li>
                    <li><a href="../views/contacto.html">Contacto</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-social">
            <h3>Siguenos:</h3>
            <div class="footer-icons-fab">
                <a href="https://www.facebook.com/eddytech.st" target="_blank"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/eddytech.st/" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://twitter.com/eddytech_st" target="_blank"><i class="fab fa-x-twitter"></i></a>
            </div>
        </div>
    </div>
    <div class="container-fluid footer-copyright ">
        <p>© Eddy Tech 2023 - Todos los derechos reservados</p>
    </div>
</footer>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>